body{
  text-align: center;
  background: #ECF0F1;
  padding-top: 20px;
}

.boton{
            text-align:center;
            text-decoration: none;
      font-family: 'Helvetica Neue', Helvetica, sans-serif;
      display:inline-block;
            color: #FFF;
            background: #7F8C8D;
            padding: 15px 30px;
            white-space: nowrap;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            margin: 10px 5px;
            -webkit-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
}

.azul{
  background: #3498DB;
}

.azul:hover{
  background: #2980B9;
}

.verde{
  background: #2ECC71;
}

.verde:hover{
  background: #27AE60;
}

.rojo{
  background: #E74C3C;
}

.rojo:hover{
  background: #C0392B;
}

.naranja{
  background: #E67E22;
}

.naranja:hover{
  background: #D35400;
}
